#hOne{
  font-family:'Righteous', cursive;
  font-size: 100px;
  font-weight: bold;
  text-align: left;
  color: black;
  margin: 0px;
  padding: 15px;
  color: cyan;
  background-color: black;
}

.hThree{
  text-align: center;
  font-size: 30px;
  color:white;
  font-weight: bolder;
  margin:0px;
  background-color: black;
}


#input, #offset{
  padding: 10px;
  margin-left:600px;
  border-color: red;
  background-color: black;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 70px;
  font-size: 25px;
  text-align: center;
  border: solid thick cyan;
  background-color: yellow;
border-radius: 13px;
}



#encodeClick, #decodeClick {
  padding: 13px;
  font-family:inherit;
  font-weight: bold;
  font-size: 20px;
  display:inline-block;
  width: 200px;
  margin-left: 750px;

}


body{
  margin-top: -10px;
  background-image:url(https://i.pinimg.com/originals/3c/5f/32/3c5f3258618da5ef3b2d12731234e1ac.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#sms, #sms2{
  padding: 10px;
  margin-left:600px;
  border-color: red;
  background-color: black;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 70px;
  font-size: 25px;
  text-align: center;
  border: solid thick cyan;
  background-color: cyan;
  border-radius: 13px;

}
